@font-face {
    src: url('Ubuntu.ttf');
}
.titledLabel {
	-fx-font-size: 10pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: #000;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #34495e;
}