@font-face {
    src: url('Ubuntu.ttf');
}
.titledLabel {
	-fx-background-color:  #34495e;
	-fx-background-radius: 5;
	-fx-alignment: center;
	-fx-text-fill: #fff;
	-fx-font-family: 'Ubuntu';
}